<footer>

    <h3>@ Codeial. All Rights Reserved</h3>

    <div>
        <a href="/">
            Home
        </a>
        <a href="/users/profile">
            Profile
        </a>
    </div>


</footer>