<header class="container-fluid" style="background-color: cadetblue;">
    <div class="row">
        <div class="col-9" style="color: white;">
            <h1>codeial</h1>
        </div>
        
        <div class="col-3 d-flex justify-content-end">
            
                <% if (locals.user){ %>
                    <div class="mr-2" >
                        <a href="/users/profile/<%= locals.user._id %>" style="color: white;font-size: larger;">
                            <%= user.name %>
                        </a>
                    </div>
                    <div>
                        <a href="/users/sign-out" style="color: white; font-size: larger;">Sign Out</a>
                    </div>
                <% }else{ %>
        
                    <div class="mr-2">
                        <a href="/users/sign-in" style="color: white;">Sign In</a>
                    </div>
        
                    <div>
                        <a href="/users/sign-up" style="color: white;">Sign Up</a>
                    </div>
        
        
                <% } %>
            
        </div>
    </div>
    
    

</header>